@import '../../../styles/tokens';

.c-textfield {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: none;
  outline: none;
  
  &__label-row {
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: none;
  }

  &__label {
    align-items: center;
    padding: 0 var(--space-xs);
    top: 0px;
    z-index: 10;
    pointer-events: none;
    transition: top var(--transition-fast), font-size var(--transition-fast);
    font-size: var(--font-size-md);
    color: var(--color-grey-default);

    &--leading {
      width: 12px;
      height: 40px;
      border-left: var(--border-thin) var(--color-grey-default);
      border-top: var(--border-thin) var(--color-grey-default);
      border-bottom: var(--border-thin) var(--color-grey-default);
      border-top-left-radius: var(--radius-lg);
      border-bottom-left-radius: var(--radius-lg);
      z-index: 10;
    }
    &--center {
      height: 40px;
      width: max-content;
      left: var(--space-sm);
      border-top: var(--border-thin) var(--color-grey-default);
      border-bottom: var(--border-thin) var(--color-grey-default);
      transition: all var(--transition-fast);
      z-index: 10;
    }
    &--trailing {
      right: 0;
      flex-grow: 1;
      height: 40px;
      border-top: var(--border-thin) var(--color-grey-default);
      border-bottom: var(--border-thin) var(--color-grey-default);
      border-right: var(--border-thin) var(--color-grey-default);
      border-top-right-radius: var(--radius-lg);
      border-bottom-right-radius: var(--radius-lg);
      z-index: 10;
    }
  }
  &__input {
    width: 100%;
    padding: 2px var(--space-sm) 0 var(--space-sm);
    font-size: var(--font-size-lg);
    border-radius: var(--radius-lg);
    background: var(--color-grey-light);
  }
}

.floating {
  label {
    font-size: var(--font-size-sm);
    top: -22px !important;
  }
  .c-textfield__label--leading {
    border-top: var(--border-thin);
    border-left: var(--border-thin);
    border-bottom: var(--border-thin);
  }
  .c-textfield__label--center {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    border-top: var(--border-thin) transparent;
    border-bottom: var(--border-thin);
  }
  .c-textfield__label--trailing {
    border-top: var(--border-thin);
    border-right: var(--border-thin);
    border-bottom: var(--border-thin);
  }
}

.focus-in {
  input {
    background: var(--color-bg-surface);
  }
  label {
    color: var(--color-grey-focus);
  }

  .c-textfield__label--leading {
    border-top: var(--border-thin) var(--color-grey-focus);
    border-left: var(--border-thin) var(--color-grey-focus);
    border-bottom: var(--border-thin) var(--color-grey-focus);
  }
  .c-textfield__label--center {
    border-top: var(--border-thin) transparent;
    border-bottom: var(--border-thin) var(--color-grey-focus);
  }
  .c-textfield__label--trailing {
    border-top: var(--border-thin) var(--color-grey-focus);
    border-right: var(--border-thin) var(--color-grey-focus);
    border-bottom: var(--border-thin) var(--color-grey-focus);
  }
}